/* relationship between 
    padding and font-size
*/

.smooth {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1em 2em;
    width: 10em;
    border-radius: 1.5em;
    color: #fff;
    background-color: mediumblue;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.smooth:hover, .smooth:focus {
    background-color: red;
}